.hero-image {
    background: url(https://photos.app.goo.gl/gzank7WGwd95hyai9) no-repeat center;
    background-size: cover;
    height: 300px;
}
.hero-text {
    text-align: center;
    color: white;
}
body {
    background: pink;
}
h1 {
    text-align: center;
}
.flexcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#flexsect1 {
    background: rgb(207, 207, 207);
    height: 100px;
    width: 20%;
}
#flexsect2 {
    background: rgb(175, 175, 175);
}
#flexsect3 {
    background: rgb(158, 157, 157);
}